body	{
    background: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-perspective: 200
}

.lights	{
    position: relative;
    width: 2000px;
    opacity: 0;
    left: -220px;
    -webkit-transform: rotateX(6deg);
    -webkit-transform-style: preserve-3d;
    -webkit-box-reflect: above;
    -webkit-animation: rotate 40s linear infinite 
}

.light	{
    width: 50px;
    height: 500px;
    -webkit-background-size: 10px 10px, 50px 50px;
    border-radius: 5px;
    opacity: 0.1;
     float: left;
     margin-right: 20px;
    -webkit-box-reflect: below
}

.light.wide	{
    width: 100px;
}

.light.on	{
    -webkit-animation: flicker 1.5s ease infinite;
}

.purple	{
    background: -webkit-repeating-linear-gradient(black 0, rgba(0,0,0,0.2) 50%, transparent 50%, transparent 100%), -webkit-repeating-radial-gradient(circle, #e4addb, #6f3f73);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 50px 10px rgba(236, 132, 194, 0.3);
}

.lt-blue	{
    background: -webkit-repeating-linear-gradient(black 0, rgba(0,0,0,0.2) 50%, transparent 50%, transparent 100%), -webkit-repeating-radial-gradient(circle, #8eefff, #2e7699);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 50px 10px rgba(142, 239,255, 0.3);
}

.dark-blue	{
    background: -webkit-repeating-linear-gradient(black 0, rgba(0,0,0,0.2) 50%, transparent 50%, transparent 100%), -webkit-repeating-radial-gradient(circle, #0eb7ff, #085197);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 50px 10px rgba(14, 183, 255, 0.3);
}

.green	{
    background: -webkit-repeating-linear-gradient(black 0, rgba(0,0,0,0.2) 50%, transparent 50%, transparent 100%), -webkit-repeating-radial-gradient(circle, #62f5ca, #2e7253);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 50px 10px rgba(98, 255,202, 0.3);
}

.yellow	{
    background: -webkit-repeating-linear-gradient(black 0, rgba(0,0,0,0.2) 50%, transparent 50%, transparent 100%), -webkit-repeating-radial-gradient(circle, #fffc87, #aaa60b);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 50px 10px rgba(255,252,135,0.3);
}

.orange	{
    background: -webkit-repeating-linear-gradient(black 0, rgba(0,0,0,0.2) 50%, transparent 50%, transparent 100%), -webkit-repeating-radial-gradient(circle, #ffae00, #c35300);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 0 50px 10px  rgba(255,174,0,0.3);
}

.red	{
    background: -webkit-repeating-linear-gradient(black 0, rgba(0,0,0,0.2) 50%, transparent 50%, transparent 100%), -webkit-repeating-radial-gradient(circle, #ff7300, #b83804);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 0 50px 10px  rgba(255,115,0,0.4);
}

@-webkit-keyframes flicker	{
    0%	{
    	opacity: 0.1
    }
    
    25%	{
    	opacity: 1
    }
    
    50%	{
    	opacity: 0.1
    }
    
}

@-webkit-keyframes rotate	{
	0%	{
		-webkit-transform: rotateZ(0) scale(1)
	}
	
	25%	{
		-webkit-transform: rotateZ(-90deg) scale(0.55)
	}
	
	50%	{
		-webkit-transform: rotateZ(-180deg) scale(1.25)
	}
	
	100%	{
		-webkit-transform: rotateZ(-360deg) scale(1)
	}
}
